/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.title-box, .button-box {
  display: flex;
  justify-content: center;
}

.participants-box {
  display: flex;
  justify-content: space-around;
}

.player-box, .computer-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}